<!doctype html>
<html lang="en">
<head>
    <title>Tuc & Sean's web scraping app</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/0d98899145.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
    <div>
        <h3 class="m-3">Thich & Sean's web scraping app</h3>
        <div class="d-flex flex-wrap">
            {% for product in final_products %}
            <div class="card m-3" style="width: 18rem;">
                <img src="{{ product[2] }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ product[1] }}</h5>
                    <small style="color: grey;">{{ product[9] }}</small>
                    <div class="card-text">{{ product[8] }}</div>
                    <p class="">{{ product[5] }}<i class="fas fa-star" style="color: green;"></i></p>
                    <a href="{{ product[4] }}" class="btn btn-primary">Buy now</a>{% if product[7] %}<img src="/static/tikinow.png" class="ml-3" style="height: 20px;">{% endif %}
                </div>
                <div class="card-header pb-0">
                    <p>{{ product[3] }}<span class="ml-2" style="color: red;">{{ product[6] }}</span></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>