<!doctype html>
<html lang="en">

<head>
    <title>Thich & Sean's web scraping app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/0d98899145.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <!-- please note the seperated css folder -->
    <link rel="stylesheet" href="/static/styles/style.css">
</head>

<body>
    <h1 class="m-3">Thich & Sean's web scraping app</h1>
    <div class="d-flex">
        <div class="col-2">
            <h4>Categories</h4>
            <div class="ml-2">
                {% for category in categories %}
                <div>
                    <small>{{ category[0] }}</small>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-8">
            <h4>Products <small>(Most expensive)</small></h4>
            <div class="d-flex flex-wrap">
                {% for product in products %}
                <div class="col-3 p-0">
                    <div class="card mr-3 mb-3">
                        <img src="{{ product[2] }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ product[1] }}</h5>
                            <div class="card-text">{{ product[8] }}</div>

                            <!-- Note use of iteration for stars -->

                            <p class="">{% for star in range(product[5]) %}<i class="fas fa-star" style="color: green;"></i>{% endfor %}</p>
                            <a href="{{ product[4] }}" class="btn btn-primary">Buy now</a>{% if product[7] %}<img
                                src="/static/tikinow.png" class="ml-3" style="height: 20px;">{% endif %}
                        </div>
                        <div class="card-header pb-0">
                            <p>{{ "{:,}".format(product[3]) }}đ<span class="ml-2" style="color: red;">-{{ product[6] }}%</span></p>

                            <!-- Note use of a f-string to give price the comma seperation -->

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-2 bg-light">
            <h4 class="mt-3">Stats</h4>
            <h6>{{ stats[0] }} categories</h6>
            <h6>{{ stats[1] }} sub categories</h6>
            <h6>{{ stats[2] }} products</h6>
            <h6>{{ stats[3] }} seconds to scrape</h6>
            <h6>{{ stats[4] }}% average discount</h6>
            <hr>
            <h6>Highest discount product</h6>
            <img src="{{ high_disc_prod[0][2] }}" class="img-fluid">
            <div class="m-3" style="color: red;">Discount -{{ high_disc_prod[0][6] }}%</div>
            <hr>
        </div>
        
    </div>
</body>

</html>